.section
  .full
    .box
      .title
        %h2 Cobweb Statistics
        %span.hide
      .content
        .caption Totals for the last 30 mins
        %table.statics{:style => "width : 100%;"}
          %thead
            %tr
              %th
              - counter = 0
              - @crawls.each do |crawl|
                %th{:style => "color : #{@colors[counter]};"}= crawl[:crawl_details][:base_url]
                - counter = counter += 1
                - counter = 0 if counter > (@colors.length-1)

          %tbody
            - (1..30).each do |minutes|
              - date = (DateTime.now - (minutes/1440.0)).strftime("%Y-%m-%d %H:%M").to_sym
              %tr
                %th= minutes
                - @crawls.each do |crawl|
                  - if crawl[:minute_totals][date].nil?
                    %td
                  - else
                    %td= crawl[:minute_totals][date]
.section
  .full
    .box
      .title
        %h2 Running Crawls
        %span.hide
      .content
        - if @crawls.empty?
          No crawls running just now
        - else
          %table.all{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %thead
              %tr
                %th Base URL
                %th Cobweb Version
                %th Total Pages
                %th Total Assets
                %th Queued Objects
            %tbody
              - @crawls.each do |crawl|
                %tr
                  %td
                    %a{:href => "/statistics/#{crawl[:crawl_details][:crawl_id]}"}= crawl[:crawl_details][:base_url]
                  %td= crawl[:cobweb_version]
                  %td= crawl[:statistics][:page_count]
                  %td= crawl[:statistics][:asset_count]
                  %td= crawl[:statistics][:queue_counter]

